@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/static/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/static/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/static/Inter-ExtraBold.ttf);
  font-weight: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter";
  background-color: $off-white;
  width: 100%;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header     header      header"
    "banner     banner      aside"
    "main       main        aside"
    "submain    submain     submain"
    "footer     footer      footer";

  @include media.tablet {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "banner"
      "main"
      "aside"
      "submain"
      "footer";
    padding: 0 20px;
  }
}

p {
  font-weight: 400;
  color: $Dark-grayish-blue;
  font-size: 15px;
}

a {
  color: $very-dark-blue;
  text-decoration: none;
  font-weight: 400;
}
